.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: 6px;
}

h2{
  color:white;
  font-style: italic;
}

.hero-unit {
    position: relative;
    height: 300px;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    // background: #215A6D;
    background-size: 1070px;
    background-image: url("../assets/images/bann.jpg")
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.lead {
  padding-bottom: 75px;
}
// .logo {
//   margin-left: 35px;
//   margin-top: 90px;
// }

.close {
  width: 50px;
  height: 25px;
}

.insta {
  position: absolute;
  right: 50px;
}

a .hashtag:hover {
  color: #428bca;

}

.hashtag {
  color: gray;
  font-style: italic;
}

.bannertxt{
  background-color: rgb(12, 116, 111);
  width: 575px;
  height: 150px;
  text-align: left;
  box-shadow: 4px 11px 8px rgba(0, 0, 0, 0.66);

}
/*loading styles*/
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  // background: #e4e4e5;
}
.pretty {
    height: auto;
    margin-top: 20px;
    font-size: 1em;
    width: 150px;
    -webkit-appearance: menulist-button;
    height: 30px;
}

.count{
    text-align: right;
}

.triClass{
    padding:50px;
}

/*loading styles*/

.triangles {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 81px;
  width: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.tri {
  position: absolute;
  -webkit-animation: pulse 750ms ease-in infinite;
  -moz-animation: pulse 750ms ease-in infinite;
  animation: pulse 750ms ease-in infinite;
  border-top: 27px solid #215A6D;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 0px;
}
.tri.invert {
  border-top: 0px;
  border-bottom: 27px solid #215A6D;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.tri:nth-child(1) {
  left: 30px;
}
.tri:nth-child(2) {
  left: 15px;
  top: 27px;
  -webkit-animation-delay: -125ms;
  -moz-animation-delay: -125ms;
  animation-delay: -125ms;
}
.tri:nth-child(3) {
  left: 30px;
  top: 27px;
}
.tri:nth-child(4) {
  left: 45px;
  top: 27px;
  -webkit-animation-delay: -625ms;
  -moz-animation-delay: -625ms;
  animation-delay: -625ms;
}
.tri:nth-child(5) {
  top: 54px;
  -webkit-animation-delay: -250ms;
  -moz-animation-delay: -250ms;
  animation-delay: -250ms;
}
.tri:nth-child(6) {
  top: 54px;
  left: 15px;
  -webkit-animation-delay: -250ms;
  -moz-animation-delay: -250ms;
  animation-delay: -250ms;
}
.tri:nth-child(7) {
  top: 54px;
  left: 30px;
  -webkit-animation-delay: -375ms;
  -moz-animation-delay: -375ms;
  animation-delay: -375ms;
}
.tri:nth-child(8) {
  top: 54px;
  left: 45px;
  -webkit-animation-delay: -500ms;
  -moz-animation-delay: -500ms;
  animation-delay: -500ms;
}
.tri:nth-child(9) {
  top: 54px;
  left: 60px;
  -webkit-animation-delay: -500ms;
  -moz-animation-delay: -500ms;
  animation-delay: -500ms;
}
/*end loading styles*/

// .logo {
//   margin-top: 108px;
//   width: 500px;
// }

/*fullscreen when bigger than 650 do*/

@media (min-width: 300px) {
    .logo {
      margin-top: 168px;
      width: 315px;
    }
}

@media (min-width: 400px) {
    .logo {
      margin-top: 158px;
      width: 375px;
    }
}

@media (min-width: 590px) {
    .logo {
      margin-top: 108px;
      width: 500px;
    }
}

@media (min-width: 740px) {
    .logo {
      width: 650px;
      margin-left: 35px;
      margin-top: 90px;
    }
}



